/* 
Orange Color : #e67e22;

*/


/* ----------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.clearfix {zoom:1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ----------------------------------------- */
/* REUSABLE COMPONENTS  */
/* ----------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7 )), url(../../resources/img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

section {
    padding: 80px 0;
    
}

.box {
    padding: 2%;
}

a:link,
a:visited {
    color: #e67e22;
    text-decoration: none;
    border-bottom: 1px solid #e67e22;
    padding-bottom: 1px;
    transition: border-bottom 0,2s. color 0,2s;
}

/* ----------------------------------------- */
/* LINK  */
/* ----------------------------------------- */

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}

/* ----- HEADINGS ------ */

h1, h2, h3 {
    letter-spacing: 1px;
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin: 0;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    margin-bottom: 20px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}

h3 {
    font-size: 99%;
    margin-bottom: 15px;
    display: inline-block;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: "";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/* ------ PARAGRAPHS ------ */

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 30px;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/* ----- HEADER ------ */

.logo {
    width: 100px;
    height: auto;
    margin-top: 20px;
    float: left;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 30px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
    margin-top: 10px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 5px 0;
    color: #fff;
    font-size: 90%;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: transparent;
    letter-spacing: 1px;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
    transition: 0.2s;
}

.main-nav li a: hover {
     
}

/* ----------------------------------------- */
/* MEALS  */
/* ----------------------------------------- */

.section-meals {
    padding: 0;
}

.meals-showcase {
    width: 100%;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.meals-photo img {
    width: 100%;
    margin: 0;
    transform: scale(1.15);
    opacity: 0.7;
    transition: transform 0.5s, opacity 0.5s;
}

.meals-photo img:hover {
    opacity: 1;
    transform: scale(1.03);
    transition: transform 0.5s;
}

.meals-photo {
    overflow: hidden;
    background-color: #000;
}
/* ----- ICONS ------ */

.icon-big {
    font-size: 200%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}

.icon-small {
    font-size: 100px;
    color: #e67e22;
    margin: 5px;
}

/* ----------------------------------------- */
/* HOW IT WORKS  */
/* ----------------------------------------- */

.section-steps {
    background-color: #f4f4f4;
}

.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.steps-box:last-child {
    padding-left: 3%;
    margin-top: 90px;
}

.app-screen {
    width: 40%;
}

.work-steps {
    margin-bottom: 40px;
}

.work-steps:last-of-type {
    margin-bottom: 70px;
}

.work-steps div {
    color: #e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    float: left;
    padding: 10px;
    font-size: 115%;
    margin-right: 20px;
    margin-left: 10px;
}



/* ----------------------------------------- */
/* CITIES CASE  */
/* ----------------------------------------- */


.photo-cities {
    width: 100%;
}

.detail-topics {
    font-weight: 300;
    font-size: 18px;
}

.detail-info p {
    float: right;
    margin-left: 10px;
}

.icon-small p {
    display: inline;
}

img h3 {
    margin-left: 5px;
}
/* ----- BUTTONS ------ */

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 300;
    border-radius: 25px;
    color: #fff;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #e67e22;
    border: 0;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: solid 1px #fff;
    color: #e67e22;
    border-color: #e67e22;
}
 
.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #cf6d17;
    color: #fff;
}

.btn-app img {
    height: 60px;
    margin: 10px;
}

.btn-app:link,
.btn-app:visited {
    border-bottom: 0;
}

.btn-full:hover,
.btn-full:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #cf6d17;
    border: 0;
}

/* ----------------------------------------- */
/* TESTIMONIALS  */
/* ----------------------------------------- */

.section-testimonial {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/back-customers.jpg);
    background-size:cover;
    padding: 80px 0;
    color: #fff;
    background-attachment: fixed;
    
}

blockquote {
    content: "A";
    padding: 2%;
    font-style: italic;
    line-height: 145%;
}

blockquote:hover {
    content: "A";
    display: block;
}

cite {
    font-size: 90%;
    margin-top: 20px;
    display: block;
}

cite img {
    border-radius: 50%;
    width: 50px;
    vertical-align: middle;
    margin-right: 15px;
}

/* ----------------------------------------- */
/* PLAN PRICE  */
/* ----------------------------------------- */

.section-price {
    background-color: #f4f4f4;
}

.plan-box {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 15px;
    box-shadow: 0 2px #ebe9e9;
}

.plan-price {
    color: #e67e22;
    font-size: 300%;
    font-weight: 100;
}

.plan-price span {
    font-size: 30%;
}

.plan-box div {
    border-bottom: 1px solid #e8e8e8;
    padding: 15px;
}

.plan-box div:first-child{
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}

.plan-box div:last-child{
    text-align: center;
}

.plan-box div:last-child {
    border: 0;
}

.list-price ul {
    list-style: none;
}

.plan-box div h3 {
    font-weight: 400;
    font-size: 110%;
}

/* ----------------------------------------- */
/* FORM  */
/* ----------------------------------------- */

.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 90%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus {
    outline: none;
}

/* ----------------------------------------- */
/* FOOTER  */
/* ----------------------------------------- */

footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-nav {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-nav li {
    display: inline-block;
    margin-right: 20px;
}

.social-nav li a ion-icon {
    font-size: 25px;
}

.footer-nav li:last-child,
.social-nav li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-nav li a:link,
.social-nav li a:visited {
    border: 0;
    color: #888;
    text-decoration: none;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.logo-facebook:hover {
    color: #3f77f3;
}

.logo-twitter:hover {
    color: #52a2f3;
}

.logo-google:hover {
    color: #e74335;
}

.logo-instagram:hover {
    color: #517fa4;
}

.logo-facebook,
.logo-twitter,
.logo-google,
.logo-instagram {
    transition: color 0.2s;
}

footer p {
    text-align: center;
    color: #888;
    font-size: 90%;
    margin-top: 30px;
}